body {
    background: #090909;
}

h1 {
    color: black;
    margin-auto: 50%;
    align: center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 500px;
}
